<html lang="ko" data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36"><style type="text/css" id="_jmc_no_tap_highlight_tag_"></style><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta property="og:url" content="http://m.stock.naver.com/item/index.nhn?code=005930">
<meta property="og:title" content="삼성전자 - 네이버 증권">
<meta property="og:image" content="http://static.naver.net/m/stock/im/2016/08/og_stock-200.png">
<meta property="og:description" content="관심종목의 실시간 주가를 가장 빠르게 확인하는 곳">
<meta property="og:type" content="article">
<meta property="og:article:thumbnailUrl" content=""> 
<meta property="og:article:author" content="네이버증권">
<meta property="og:article:author:url" content="http://m.stock.naver.com">


<title>네이버 증권</title> 

<link rel="stylesheet" type="text/css" href="/css/mstock.css?20180221074005">

<script type="text/javascript">
var REQUEST_MOBILE_BROWSER_TYPE = "";
var REQUEST_TELEPHONE_CORPORATION = "";

var nsc="Mstock.stockend";
var ccsrv="cc.naver.com";
</script>


			
				<script type="text/javascript" src="/js/finance/header_20180221074005.js"></script>
			
		
<script type="text/javascript">
;(function(){
	var doc = document.documentElement;
	doc.setAttribute('data-useragent', navigator.userAgent);
})();
</script>
<script type="text/javascript" charset="utf-8" id="" src="/js/finance/footer_20180221074005.js"></script><script type="text/javascript" charset="utf-8" id="" src="/js/finance/social_util.js"></script><script type="text/javascript" charset="utf-8" id="" src="/js/finance/nhn.comment.mobile.module.unpacked.js"></script><script type="text/javascript" charset="utf-8" id="" src="/js/finance/nts.m.PublicityPopup.js"></script><link rel="stylesheet" type="text/css" href="/css/comment.css?20180221074005"><link rel="stylesheet" type="text/css" href=""><script type="text/javascript" charset="utf-8" id="naver-splugin-sdk" src="http://spi.naver.net/js/release/ko_KR/splugin.m.js?20180223"></script><link id="naver-splugin-css" rel="stylesheet" type="text/css" href="http://spi.naver.net/css/20171113/spi_standard_m_20171113.css"></head>

<body class="end news">
<!-- u_skip -->
<div class="u_skip">
	<a href="#content">본문 바로가기</a>
</div>
<!-- //u_skip -->
<!-- header -->
<!-- 엔드상단 : 플리킹 없음 -->



<hr>

<div id="content" role="main">
	<nav role="navigation" class="lnb" queryid="C1519363103275867790"><ul class="lnb_lst _btn_clear_infinity_history"> <li><a href="#/stocks/005930/total" onclick="nclk(this, 'nav.ttl', '', '')"><span class="txt">종합</span></a></li> <li><a href="#/stocks/005930/discuss" onclick="nclk(this, 'nav.nboard', '', '')"><span class="txt">토론</span></a></li> <li class="on"><a href="#/stocks/005930/news" onclick="nclk(this, 'nav.news', '', '')"><span class="txt">뉴스·공시</span></a></li> <li><a href="#/stocks/005930/price" onclick="nclk(this, 'nav.sise', '', '')"><span class="txt">시세·호가</span></a></li> <li><a href="#/stocks/005930/annual" onclick="nclk(this, 'nav.acc', '', '')"><span class="txt">재무</span></a></li> </ul></nav>
	<div id="content_body" class="ct_wrp _font_size_setting_target ct_box"><h3 class="blind">뉴스·공시</h3> <div class="sub_menu _btn_clear_infinity_history" queryid="C1519363103276680686"> <ul class="tab_lst"> <li class="on"><a href="#/stocks/005930/news" onclick="nclk(this, 'stn.nws', '', '')">종목뉴스</a></li> <li><a href="#/stocks/005930/notice" onclick="nclk(this, 'stn.ann', '', '')">공시정보</a></li> <li><a href="#/stocks/005930/ir" onclick="nclk(this, 'stn.irinfo', '', '')">IR정보</a></li> </ul> </div>  <div class="_news_list_contents"><div class="lst_option"> <div class="select_lst _news_list_option"> <a href="#/stocks/005930/news/search/title" class="_news_list_option_title on" onclick="nclk(this, 'stn.ntitle', '', '')">제목</a> <a href="#/stocks/005930/news/search/body" class="_news_list_option_body" onclick="nclk(this, 'stn.nbdy', '', '')">내용</a> </div> <div class="info_layer _stock_news_list_info_layer"> <a href="#" class="btn_info_layer _btn_toggle_layer" onclick="nclk(this, 'stn.ninfo', '', '')">종목뉴스 안내</a> <div class="layer_cont _info_layer" style="display:none;"> <strong class="tit">네이버 증권 종목뉴스 안내</strong> AI(인공지능 검색기술)을 이용한 종목 관련 뉴스입니다. <br>관련뉴스는 자동으로 묶어 보여줍니다. <div class="txt_opt"> 검색영역 옵션<br> 제목 : 제목에서 종목명이 검색된 결과입니다.<br> 내용 : 제목과 본문에서 종목명이 검색된 결과입니다. </div> <a href="javascript:;" class="btn_close"><span class="blind">레이어 닫기</span></a> </div> </div> </div> <div class="lst_wrp _contents"> <ul class="news_lst _list_wrap"><li data-index="0" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0003897928/office/015" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/015/2018/02/23/3897928.jpg?type=nf220_150" alt="[MWC 2018③] 주인공 자리 꿰찬 삼성전자 '갤럭시S9'" width="79" height="57" onerror="nts.Util.setDefaultImage(this)" class=""> </div>  <div class="txt_area"> <strong class="title">[MWC 2018③] 주인공 자리 꿰찬 삼성전자 '갤럭시S9'</strong> <p class="news_ct">삼성전자, 카메라·3D이모지 기능 선보일 듯 공개 방식도 관심…AR로 무대 꾸밀지 주목 삼성전자 갤럭시S9 예상 이미지삼성전자의 '갤럭시S9'이 25일 오후 6시(현지시간) 스페인 바르셀로나에서 공개된다. 특히 삼성전자가 AR(증강현실)을 이용해... </p> <span class="press">한국경제</span><em class="time">37분 전</em> </div> </a>  </div> </li><li data-index="1" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0003970693/office/014" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/014/2018/02/23/3970693.jpg?type=nf220_150" alt="삼성전자, 외국인·女 사외이사 내정" width="79" height="57" onerror="nts.Util.setDefaultImage(this)" class=""> </div>  <div class="txt_area"> <strong class="title">삼성전자, 외국인·女 사외이사 내정</strong> <p class="news_ct">왼쪽부터 김종훈 키스위모바일 회장, 김선욱 이화여대 교수, 박병국 서울대 교수 삼성전자 이사회에 외국인과 여성 사외이사가 내정됐다. 항소심에서 집행유예로 석방된 이재용 삼성전자 부회장은 이날 이사회에 참석하지 않았다. 삼성전자는 23일... </p> <span class="press">파이낸셜뉴스</span><em class="time">오후 <span>1:14</span></em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0140003970693" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 5건</a>  </div> </li><li data-index="2" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0004014047/office/008" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/008/2018/02/23/4014047.jpg?type=nf220_150" alt="삼성전자 외국인·여성 사외이사 내정…이사회 중심 경영 강화(상보)" width="79" height="57" onerror="nts.Util.setDefaultImage(this)" class=""> </div>  <div class="txt_area"> <strong class="title">삼성전자 외국인·여성 사외이사 내정…이사회 중심 경영 강화(상보)</strong> <p class="news_ct">[머니투데이 심재현 기자, 이정혁 기자] [사외이사 1명 늘려 김종훈·김선욱·박병국 추천…이재용 부회장은 불참] 왼쪽부터 김종훈 키스위모바일 회장, 김선욱 전 이화여대 총장, 박병국 서울대 전기·정보공학부 교수. /머니투데이 DB삼성전자... </p> <span class="press">머니투데이</span><em class="time">오전 <span>11:58</span></em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0080004014047" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 2건</a>  </div> </li><li data-index="3" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0001357996/office/016" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/016/2018/02/23/1357996.jpg?type=nf220_150" alt="삼성전자 “최첨단 EUV 라인 발판…파운드리 글로벌 빅2로”" width="79" height="57" onerror="nts.Util.setDefaultImage(this)" class=""> </div>  <div class="txt_area"> <strong class="title">삼성전자 “최첨단 EUV 라인 발판…파운드리 글로벌 빅2로”</strong> <p class="news_ct">화성에 EUV라인 건설 의미는 부동의 1위 타이완 TSMC 추격 신공장·고객사 협력강화 총력 삼성전자가 파운드리(반도체위탁생산) ‘글로벌 톱2’ 진입을 위한 첫삽을 떴다. 23일 삼성전자가 경기도 화성에 건설하는 최첨단 극자외선(EUV) 라인은... </p> <span class="press">헤럴드경제</span><em class="time">오전 <span>11:32</span></em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0160001357996" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 2건</a>  </div> </li><li data-index="4" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0004104938/office/009" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/009/2018/02/23/4104938.jpg?type=nf220_150" alt="삼성전자, 23일 경기도 화성에 최첨단 반도체 라인 착공" width="79" height="57" onerror="nts.Util.setDefaultImage(this)" class=""> </div>  <div class="txt_area"> <strong class="title">삼성전자, 23일 경기도 화성에 최첨단 반도체 라인 착공</strong> <p class="news_ct">2019년 완공·2020년 본격 가동…반도체 미세공정 핵심역할 기대 8삼성전자 화성캠퍼스 EUV라인 착공 조감도. [사진제공 : 삼성전자] 삼성전자가 23일 경기도 화성캠퍼스에서 '삼성전자 화성 EUV 라인 기공식'을 열고 본격적으로 라인 건설에... </p> <span class="press">매일경제</span><em class="time">오전 <span>11:02</span></em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0090004104938" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 2건</a>  </div> </li><li data-index="5" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0004185220/office/277" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="txt_area"> <strong class="title">[특징주]삼성전자·SK하이닉스 외국인 매수에 ↑</strong> <p class="news_ct">[ 삼성전자와 SK하이닉스 등 반도체 대표주가 상승세다. 23일 오전 9시33분 현재 삼성전자는 전 거래일 대비 3만4000원(1.45%) 오른 237만2000원에 거래 중이다. 5거래일 만의 상승 전환이다. 지난 4거래일 간 '팔자'세를 보이던 외국인이 매수... </p> <span class="press">아시아경제</span><em class="time">오전 <span>9:45</span></em> </div> </a>  </div> </li><li data-index="6" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0003970501/office/014" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/014/2018/02/23/3970501.jpg?type=nf220_150" alt="이재용 '컴백' 후 삼성전자 첫 이사회" width="79" height="57" onerror="nts.Util.setDefaultImage(this)" class=""> </div>  <div class="txt_area"> <strong class="title">이재용 '컴백' 후 삼성전자 첫 이사회</strong> <p class="news_ct">사진=연합뉴스 삼성전자가 23일 이사회를 열고 신임 이사진 선임 등 정기 주주총회 안건을 논의한다. 삼성전자는 이날 오전 이사회를 열어 신임 이사진 선임, 이사의 보수한도 조정, 주식 액면분할 등을 논의한 뒤 다음 달 23일로 예정된 정기 주주총회... </p> <span class="press">파이낸셜뉴스</span><em class="time">오전 <span>9:29</span></em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0140003970501" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 2건</a>  </div> </li><li data-index="7" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0003897757/office/015" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="txt_area"> <strong class="title">(출발)삼성전자 233만8000원…보합</strong> <p class="news_ct">한경닷컴 [한경닷컴 바로가기] [글방] [모바일한경 구독신청] ⓒ 한국경제 &amp; hankyung.com, 무단전재 및 재배포 금지</p> <span class="press">한국경제</span><em class="time">오전 <span>9:03</span></em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0150003897757" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 2건</a>  </div> </li><li data-index="8" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0003229101/office/011" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="txt_area"> <strong class="title">삼성전자, 기술 리더쉽 상승-NH투자증권</strong> <p class="news_ct">[서울경제] NH투자증권은 삼성전자(005930)가 기술 리더쉽이 상승했다고 분석했다. 목표주가는 350만원을, 투자의견은 매수를 유지했다. 23일 NH투자증권은 삼성전자가 EUV, QLC 등 차세대 기술에 대한 투자를 늘리며 경쟁사 대비 기술 주도권을... </p> <span class="press">서울경제</span><em class="time">오전 <span>8:53</span></em> </div> </a>  </div> </li><li data-index="9" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0003897733/office/015" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/015/2018/02/23/3897733.jpg?type=nf220_150" alt="삼성전자, 오늘 이사회…신임 이사진 선임 등 논의" width="79" height="57" onerror="nts.Util.setDefaultImage(this)" class=""> </div>  <div class="txt_area"> <strong class="title">삼성전자, 오늘 이사회…신임 이사진 선임 등 논의</strong> <p class="news_ct">삼성전자가 23일 이사회를 열고 신임 이사진 선임 등에 대해 논의한다. 재계에 따르면 삼성전자는 이날 오전 수원 본사에서 이사회를 열고 신임 이사진 선임, 이사의 보수한도 조정, 주식 액면분할 등을 논의한 뒤 내달 23일 열릴 정기 주주총회 소집... </p> <span class="press">한국경제</span><em class="time">오전 <span>7:50</span></em> </div> </a>  </div> </li><li data-index="10" data-in-view="true"> <div class="_child_wrapper"> <a href="#/stocks/005930/news/0000399589/office/366" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/366/2018/02/23/399589.jpg?type=nf220_150" alt="이재용 부회장, 석방 후 첫 경영 행보 나설까…오늘 삼성전자 이사회 주목" width="79" height="57" onerror="nts.Util.setDefaultImage(this)" class=""> </div>  <div class="txt_area"> <strong class="title">이재용 부회장, 석방 후 첫 경영 행보 나설까…오늘 삼성전자 이사회 주목</strong> <p class="news_ct">이달 5일 집행유예로 풀려난 이재용 삼성전자(005930)부회장이 23일 예정된 삼성전자 이사회에 모습을 드러낼지 재계 관심이 집중되고 있다. 2016년 10월 사내 등기이사직을 맡은 이 부회장은 지금까지 이사회에 한 차례 참석했다. 삼성전자는 이날... </p> <span class="press">조선비즈</span><em class="time">오전 <span>6:02</span></em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/3660000399589" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 2건</a>  </div> </li><li data-index="11" data-in-view="false" style="height: 136px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0003897689/office/015" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/015/2018/02/22/3897689.jpg?type=nf220_150" alt="미국 벤처신화·첫 여성 법제처장을 사외이사로… 삼성전자, 김종훈·김선욱 내정" width="79" height="57" onerror="nts.Util.setDefaultImage(this)"> </div>  <div class="txt_area"> <strong class="title">미국 벤처신화·첫 여성 법제처장을 사외이사로… 삼성전자, 김종훈·김선욱 내정</strong> <p class="news_ct">삼성 '이사회 중심 경영' 본격화 외국계 CEO·여성은 처음 이재용 부회장은 이사회 불참할 듯 [ 좌동욱 기자 ] 삼성전자가 미국 실리콘밸리에서 ‘10억달러(약 1조800억원) 벤처신화’를 이룬 김종훈 키스위모바일 회장과 여성 최초로 법제처장을 지낸... </p> <span class="press">한국경제</span><em class="time">2018.02.22</em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0150003897689" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 7건</a>  </div> </li><li data-index="12" data-in-view="false" style="height: 136px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0004041623/office/018" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/018/2018/02/22/4041623.jpg?type=nf220_150" alt="삼성전자, 국내 페이스북 계정 개편..모바일 전용→전체 제품 아우른다" width="79" height="57" onerror="nts.Util.setDefaultImage(this)"> </div>  <div class="txt_area"> <strong class="title">삼성전자, 국내 페이스북 계정 개편..모바일 전용→전체 제품 아우른다</strong> <p class="news_ct">출처: 삼성전자 페이스북 공식계정 ‘삼성전자 코리아’  삼성전자(005930)가 기존 모바일 제품만 홍보하던 국내 페이스북 계정을 가전·IT 등 전반을 아우르는 계정으로 개편한다. 22일 삼성전자는 그 동안 ‘삼성 모바일 코리아(Samsung Mobile... </p> <span class="press">이데일리</span><em class="time">2018.02.22</em> </div> </a>  </div> </li><li data-index="13" data-in-view="false" style="height: 136px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0003970313/office/014" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/014/2018/02/22/3970313.jpg?type=nf220_150" alt="스마트홈산업협회장에 한종희 삼성전자 영상디스플레이 사장" width="79" height="57" onerror="nts.Util.setDefaultImage(this)"> </div>  <div class="txt_area"> <strong class="title">스마트홈산업협회장에 한종희 삼성전자 영상디스플레이 사장</strong> <p class="news_ct">삼성 마이크로 LED TV 오는 8월부터 판매 시작 한종희 삼성전자 영상디스플레이(VD) 사업부장(사장)이 지난 1월 8일(현지 시간) 미국 라스베이거스에서 열린 기자 간담회에서 질문에 답하고 있다. 삼성전자가 오는 8월 마이크로 발광다이오드(LED)... </p> <span class="press">파이낸셜뉴스</span><em class="time">2018.02.22</em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0140003970313" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 4건</a>  </div> </li><li data-index="14" data-in-view="false" style="height: 136px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0003970314/office/014" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/014/2018/02/22/3970314.jpg?type=nf220_150" alt="KEA 회장에 김기남 삼성전자 사장" width="79" height="57" onerror="nts.Util.setDefaultImage(this)"> </div>  <div class="txt_area"> <strong class="title">KEA 회장에 김기남 삼성전자 사장</strong> <p class="news_ct">"대.중기 상생협력 힘쓸것" 김기남 삼성전자 사장이 22일 서울 월드컵북로 전자회관에서 게임 소프트웨어 개발업체 '스코넥 엔터테인먼트'의 가상현실(VR) 게임을 체험하고 있다. 사진=권승현 기자 김기남 삼성전자 사장이 한국전자정보통신산업진흥회... </p> <span class="press">파이낸셜뉴스</span><em class="time">2018.02.22</em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0140003970314" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 2건</a>  </div> </li><li data-index="15" data-in-view="false" style="height: 136px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0004013487/office/008" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/008/2018/02/22/4013487.jpg?type=nf220_150" alt="삼성전자, 7나노 EUV 공정으로 퀄컴 5G칩 생산" width="79" height="57" onerror="nts.Util.setDefaultImage(this)"> </div>  <div class="txt_area"> <strong class="title">삼성전자, 7나노 EUV 공정으로 퀄컴 5G칩 생산</strong> <p class="news_ct">[14나노/10나노 이어 EUV적용 7나노 공정까지 협력관계 확대] 삼성전자 화성캠퍼스 S3라인삼성전자가 퀄컴과 손잡고 7나노 파운드리 공정(7LPP, Low Power Plus) 기반 5G 칩을 생산한다고 22일 밝혔다. 삼성전자는 7나노 공정부터 차세대 노광장비인 EUV... </p> <span class="press">머니투데이</span><em class="time">2018.02.22</em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0080004013487" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 5건</a>  </div> </li><li data-index="16" data-in-view="false" style="height: 136px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0003897315/office/015" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="img_area"> <img src="http://imgnews.naver.net/image/origin/015/2018/02/22/3897315.jpg?type=nf220_150" alt="코스피, 외국인·기관 '팔자'에 하락 마감…삼성전자·SK하이닉스↓" width="79" height="57" onerror="nts.Util.setDefaultImage(this)"> </div>  <div class="txt_area"> <strong class="title">코스피, 외국인·기관 '팔자'에 하락 마감…삼성전자·SK하이닉스↓</strong> <p class="news_ct">코스피지수가 외국인과 기관 투자자의 동반 '팔자'세 하락 마감했다. 22일 코스피지수는 전날보다 15.37포인트(0.63%) 내린 2414.28로 장을 마감했다. 간밤 미국 뉴욕증시 주요지수가 미 국채금리 상승 등의 여파로 떨어지면서 코스피도 장 내내... </p> <span class="press">한국경제</span><em class="time">2018.02.22</em> </div> </a>  </div> </li><li data-index="17" data-in-view="false" style="height: 113px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0003897300/office/015" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="txt_area"> <strong class="title">(마감)삼성전자 233만8000원…1.10%↓</strong> <p class="news_ct">한경닷컴 [한경닷컴 바로가기] [글방] [모바일한경 구독신청] ⓒ 한국경제 &amp; hankyung.com, 무단전재 및 재배포 금지</p> <span class="press">한국경제</span><em class="time">2018.02.22</em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0150003897300" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 2건</a>  </div> </li><li data-index="18" data-in-view="false" style="height: 136px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0004184513/office/277" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="txt_area"> <strong class="title">삼성전자, 현지 특화된 에어컨으로 인도 시장 공략</strong> <p class="news_ct">삼성전자가 22일(이하 현지시간)부터 24일까지 인도 벵갈루루(Bengaluru) 에서 열리는 인도 공조전(ACREX India 2018)에 참가해 현지 기후에 특화된 공조 솔루션을 선보인다. 인도 공조전은 전 세계 30개국 600여개의 주요 공조 업체가 참가하는 서남아... </p> <span class="press">아시아경제</span><em class="time">2018.02.22</em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/2770004184513" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 6건</a>  </div> </li><li data-index="19" data-in-view="false" style="height: 136px;"> <div class="_child_wrapper" style="display: none;"> <a href="#/stocks/005930/news/0001357255/office/016" onclick="nclk(this, 'stn.ntitclust', '', '')">  <div class="txt_area"> <strong class="title">삼성전자, 퀄컴과 7나노 파운드리 협력 확대…초미세 반도체 공정 기술 선도</strong> <p class="news_ct">- 삼성전자, 퀄컴과 EUV 적용 7나노 공정 5G 칩 생산 협력 추진 - 10나노 공정 대비 면적40% 축소, 성능 10% 또는 전력효율 35% 개선  삼성전자가 미국 반도체 기업 퀄컴과의 협력을 확대하며 파운드리 경쟁력 강화에서 의미있는 진전을 이뤄냈다.... </p> <span class="press">헤럴드경제</span><em class="time">2018.02.22</em> </div> </a>  <a href="#/stocks/005930/news/search/title/cluster/0160001357255" class="news_more" onclick="nclk(this, 'stn.ntitclustall', '', '')">관련뉴스 3건</a>  </div> </li></ul> </div></div> <div class="loading _loading _load_timing_next" style="height: 49px;"><span class="load_img" style="">로딩중..</span></div><div class="u_pg _more_btn_wrapper" style="display:none;"> <a href="#" onclick="nclk(this, 'stn.moreb', '', '')" class="u_pg_btn _btn_more"> <div class="u_pg_wrap"> <span class="u_pg_area"> <div class="loading _more_btn_loading" style="display: none;"> <span class="load_img">로딩중..</span> </div> <span class="u_pg_txt _more_txt">더보기</span> </span> </div> </a> </div><div class="none_wrp _have_no_contents" style="display:none"> <div class="info_text_area">  <p class="txt">최근 1년 내 검색된 <em>'삼성전자'</em> 뉴스가 없습니다. <br>[내용]을 선택하여 보다 많은 뉴스를 확인하세요.</p>  </div> </div></div>
	
	<!-- 관심 종목 추가 & 소셜 공유 -->
    <div class="ct_box end_option" style="display:none;">
        <h4 class="blind">관심종목 추가, SNS 보내기</h4>
        <div class="btn_area">
            <a href="#" class="btn_favorite">관심종목</a>
            <a href="#" class="btn_share naver-splugin" data-kakaostory-display="off" data-mypeople-display="off" data-calendar-display="off" splugin-id="6308944604" data-url="http://m.stock.naver.com/item/meta.nhn?code=005930&amp;type=total" data-title="삼성전자 - 네이버 증권
관심종목의 실시간 주가를 가장 빠르게 확인하는 곳" data-bookmark-title="네이버 증권">
				<span class="blind">공유하기</span>
            </a>
        </div>
    </div>
    <!-- // 관심 종목 추가 & 소셜 공유 -->
</div>
<hr>






<a href="#" class="btn_top _btn_floating_top" style="opacity: 1; display: block;">맨위로</a>
<footer id="footer" role="contentinfo" class="_footer" style="display: none;">
    <div class="f_btn_wrp">
    	
		
			
				<a class="u_ftlk _sign" href="https://nid.naver.com/nidlogin.logout?svctype=262144&amp;url=http%3A%2F%2Fm.stock.naver.com%2Fitem%2Findex.nhn%3Ftype%3Dnews%26code%3D005930" id="news_login" onclick="nclk(this, 'fot.logout', '', '');">로그아웃</a>
			
			
		
		<a href="http://finance.naver.com/item/news.nhn?code=005930" class="u_ftlk _link_pc" id="pcVersion" onclick="nclk(this, 'fot.gopc', '', '');">PC버전</a>
		<a href="http://m.naver.com/services.html?f=svc.stock" id="footerGnbButton" class="u_ftlk u_ftlkbt" onclick="nclk(this, 'fot.sitemap', '', '');">전체서비스<span class="u_vc" id="footerGnbCaption"> 전체서비스</span></a>
	</div>
    
       <div class="f_txt_wrp">
		<p>네이버(주)가 제공하는 금융정보는 각 컨텐츠 제공업체<button class="ico_q_tip _cp_list_layer_btn">TIP</button>로부터 받는 정보로 투자 참고사항이며,<br>
		오류가 발생하거나 지연될 수 있습니다. 네이버(주)는 제공된 정보에 의한<br>
		투자결과에 법적책임을 지지 않습니다. 게시된 정보는 무단 으로 배포할 수 없습니다.</p>
		<div class="provider_layer _cp_list_layer" style="display:none;">
            <strong class="provider_layer__tit">컨텐츠 제공업체</strong>
            <div class="provider_layer__txt">
                <dl>
                    <dt>코스콤</dt>
                    <dd>실시간 주가정보 및 국내시세정보</dd>
                    <dt>와이즈에프엔</dt>
                    <dd>기업 및 재무정보</dd>
                    <dt>이데일리</dt>
                    <dd>해외 시세 및 시장지표 정보</dd>
                    <dt>제로인</dt>
                    <dd>펀드정보</dd>
                    <dt>한국예탁결제원</dt>
                    <dd>주주총회일 및 전자투표 정보</dd>                    
                    <dt>IR큐더스</dt>
                    <dd>기업 IR정보</dd>
                    <dt>후즈굿</dt>
                    <dd>비재무정보</dd>
                </dl>
            </div>
            <button class="btn_clse">레이어 닫기</button>
        </div>
	</div>
       
	<div class="f_link_wrp">
	    <a href="http://www.navercorp.com/" class="u_cra u_cra_v1" onclick="nclk(this, 'fot.nhncorp', '', '');">ⓒ NAVER Corp.</a>
	    <a href="https://m.help.naver.com/support/alias/contents2/finance/finance_2.naver" class="u_cra" onclick="nclk(this, 'fot.help', '', '');">증권 고객센터</a>
	    <a href="https://m.help.naver.com/support/alias/contents2/finance/finance_3.naver" class="u_cra" onclick="nclk(this, 'fot.error', '', '');">오류신고</a>
	</div>
	<div class="goto_area">
        <a href="intent://addshortcut?url=http://m.stock.naver.com&amp;icon=http://static.naver.net/nfinance/ico/android_192x192_xxxhpdi.png&amp;title=%EB%84%A4%EC%9D%B4%EB%B2%84+%EC%A6%9D%EA%B6%8C&amp;serviceCode=stock&amp;version=7#Intent;scheme=naversearchapp;action=android.intent.action.VIEW;category=android.intent.category.BROWSABLE;package=com.nhn.android.search;end" onclick="nclk(this, 'fot.shortcut', '', '');" class="goto"><span class="app_stock">네이버 증권</span><em>네이버앱의</em><strong>증권</strong> 홈화면에 바로가기 추가 <span class="ico_add"></span></a>
    </div>
</footer>
<script type="text/javascript">
!function(t,o){function n(t){new e(t)}function e(t){this._init(t)}e.prototype={constructor:e,_init:function(t){this._aUrlToBeLoad=t.aUrlToBeLoad,this._sCharSet=t.sCharSet||"utf-8",this._sId=t.sId||"",this._fnCallback=t.fnCallback,this._fnOnLoadScript=this._getFnOnLoadScript(),this._oModel=new e.Model(this._aUrlToBeLoad),this._oView=(new e.View).setCharSet(this._sCharSet).setId(this._sId),this._oHandlerManager=e.HandlerManagerFactory.getHandler(),this._load()},_load:function(){return this._oModel.setScriptUrlToBeLoad(),!0===this._oModel.isAlreadyLoaded()?(this._onLoadScriptForAlreadyLoaded(),o):(this._oView.loadScript({sUrlToBeLoad:this._oModel.getCurrentLoadingUrl(),oHandlerManager:this._oHandlerManager,fnOnLoadCallback:this._fnOnLoadScript}),this._oModel.addToLoadingInfo(this._oView.getLoadingScriptEl()),o)},_onLoadScriptForAlreadyLoaded:function(){this._oModel.updateDataForAlreadyLoaded(),this._onAfterLoad()},_getFnOnLoadScript:function(){var t=this;return function(){t._oModel.updateDataWithLoadedScript(this),t._onAfterLoad()}},_onAfterLoad:function(){return!1===this._oModel.isLoadedAllScript()?(this._load(),o):(this._fireCallback(),o)},_fireCallback:function(){var t=this._fnCallback;"function"==typeof t&&t()}},e.View=function(t){this._init(t)},e.View.prototype={constructor:e.View,_init:function(){this._sCharSet="utf-8",this._sId="",this._elLoadingScript=null},setCharSet:function(t){return this._sCharSet=t,this},setId:function(t){return this._sId=t,this},getLoadingScriptEl:function(){return this._elLoadingScript},loadScript:function(t){this._makeScriptElToBeLoad(t),this._appendScriptForLoad()},_appendScriptForLoad:function(){var t=document.getElementsByTagName("head")[0];t.appendChild(this._elLoadingScript)},_makeScriptElToBeLoad:function(t){var o=t.oHandlerManager,n=document.createElement("script");n.setAttribute("type","text/javascript"),n.setAttribute("charset",this._sCharSet),n.setAttribute("id",this._sId),n.setAttribute("src",t.sUrlToBeLoad),o.attachOnloadToScript(n,t.fnOnLoadCallback),this._elLoadingScript=n}},e.Model=function(t){this._init(t)},e.Model.prototype={constructor:e.Model,_init:function(t){this._aUrlToBeLoad=t,this._nLoadedScriptCount=0,this._sCurrentLoadingUrl="",this._htLoadedInfoPool={},this._htLoadingInfoPool={}},setScriptUrlToBeLoad:function(){var t=this._getLoadedCount();this._sCurrentLoadingUrl=this._aUrlToBeLoad[t]},isAlreadyLoaded:function(){return o!==this._htLoadedInfoPool[this._sCurrentLoadingUrl]},getCurrentLoadingUrl:function(){return this._sCurrentLoadingUrl},updateDataForAlreadyLoaded:function(){this._updateLoadedScriptCount()},updateDataWithLoadedScript:function(t){this._addToLoadedInfo(t),this._updateLoadedScriptCount(),this.removeFromLoadingInfo()},removeFromLoadingInfo:function(){delete this._htLoadingInfoPool[this._sCurrentLoadingUrl]},addToLoadingInfo:function(t){this._htLoadingInfoPool[this._sCurrentLoadingUrl]=t},isLoadedAllScript:function(){return this._getLoadedCount()===this._aUrlToBeLoad.length},_addToLoadedInfo:function(t){this._htLoadedInfoPool[this._sCurrentLoadingUrl]=t},_updateLoadedScriptCount:function(){this._nLoadedScriptCount++},_getLoadedCount:function(){return this._nLoadedScriptCount}},e.HandlerManagerFactory={getHandler:function(){var t=document.createElement("script"),o=null===t.onreadystatechange;return!0===o?e.HandlerManagerSingleToneForIe:e.HandlerManagerSingleTone}},e.HandlerManagerSingleTone={attachOnloadToScript:function(t,o){t.onload=o}},e.HandlerManagerSingleToneForIe={attachOnloadToScript:function(t,o){t.onreadystatechange=this._getOnLoadScript(o)},_getOnLoadScript:function(t){return function(){var o="complete"==this.readyState||"loaded"==this.readyState;!1!==o&&(t(),this.onreadystatechange=null)}}},t.loadJs=n}(window);
</script>

<script src="http://tveta.naver.net/libs/assets/js/mo/sub/min/mo.sub.veta.core.min.js?20180221074005"></script>
<script type="text/javascript">
var fnWindowOnloadBackup = window.onload;

function load(){
    if(typeof fnWindowOnloadBackup === "function"){
        fnWindowOnloadBackup();
    }

    setTimeout(
        function(){
            var aUrlToBeLoad = [
                
			
				"/js/finance/footer_20180221074005.js"
			
		,
                "/js/finance/social_util.js",
                "/js/finance/nhn.comment.mobile.module.unpacked.js",
                "/js/finance/nts.m.PublicityPopup.js",
                //"http://static.news.naver.net/mnews/resources/20150514_115126/js/generated/nhn.scmt.mobile.js?20180221074005"
             ];

            loadJs({
                "aUrlToBeLoad": aUrlToBeLoad,
                "sCharSet": "utf-8",
                "fnCallback": function(){
		            nts.Util.loadCss("/css/comment.css?20180221074005");
        		    //nts.Util.loadCss("http://static.news.naver.net/image/news/sc/comment.news.css?20180221074005");
        		    nts.Util.loadCss("");
        		    
                	nts.m.ChartImageSrc._BASE = 'http://imgfinance.naver.net/chart/mobile/'

                    
					var oHistoryBackHandler = nts.m.HistoryBackHandlerWithLocalStorage.get_instance();
					oHistoryBackHandler.restoreContents();

					
                    if(typeof init === "function"){
                        init();
                    }

                    oHistoryBackHandler.handleInfinityScroll(nts.m.StockUtil.getInfinityScroll(), false);

                    if(typeof initAutoComplete === "function"){
                        initAutoComplete();
                    }

                    if(undefined !== nts.m.MyStockLayer){
                         window.oMyStockLayer = new nts.m.MyStockLayer().
                           init().
                           activate();
                    }

                    
                    nts.Util.lazyLoadingFromImageTag("._lazy_img");
                    var oTopButton = new nts.m.TopButton();
                	oTopButton.activate();
                	
                 	
                    new nts.m.LayerToggler()
                        .init({
                            wrapper: jindo.$$.getSingle('._footer'),
                            sToggleBtnSelector: '._cp_list_layer_btn',
                            sLayerSelector: '._cp_list_layer',
                            bUseLayerClickAndClose: true,
                            bUseLayerAutoCloseWhenFocusOut: true
                        })
                        .activate();
                },
            });
        },
        10
    );
}

if(window.addEventListener){
    window.addEventListener("load", load, true);
}else if(window.attachEvent){
    window.attachEvent("onload", load);
}else{
    window.onload = load;
}

BMR.run('http://sp.naver.com/sp');
</script>



<script type="text/javascript">
function init() {
	var endHeaderFixable = new nts.m.EndHeaderFixable();
	
	var oCommonComment = new nts.m.CommonComment(
			jindo.$Element('content')
	).
			setCoreModuleResourceDomain('http://static.cbox.naver.net').
			setCoreModuleApiDomain('https://apis.naver.com/commentBox/cbox5').
			setType('preview').
			setAllPageUrl('/comment/list.nhn?category=itemnewsList&code=');

    window.oStockWatch = new nts.m.StockWatch({
            codeList : [],
            tickerData : {},
            redirect : {
                group : '/mystock/groupEdit.nhn',
                report : '/item/boardArticleCommonReport.nhn?articleId={:nid}&returnUrl=http%3A%2F%2Fm.stock.naver.com%2Fitem%2Findex.nhn%3Fcode%3D'
            },
            c3p: {
                css: '/css/c3p.css?20180221074005',
                js: '/js/finance/c3p_20180221074005.js'
            },
            reaction: {
                sModuleSrc: 'http://common.like.naver.com/js/reaction/dist/reaction.js',
                sReactionDomain: 'http://common.like.naver.com'
            }
        },
        oCommonComment
    );
    initSocial();
}

function initSocial(){
    var t = new Date(), yyyy = t.getFullYear(), mm = t.getMonth() + 1, dd = t.getDate();
    var ts = yyyy + (mm < 10 ? '0' + mm : mm) + (dd < 10 ? '0' + dd : dd);
	
	// 소셜 플러그인
    loadJs({
        "aUrlToBeLoad" : [
            "http://spi.naver.net/js/release/ko_KR/splugin.m.js?" + ts
        ],
        "sCharSet" : "utf-8",
        "fnCallback" : function(){
             window.__splugin = SocialPlugIn_Core({
				// nEvent Key
				"evKey"       : "finance",
				// 서비스명
				"serviceName" : "금융",
				// 딤드레이어 타입(default,fixed,custom)
				"dimmed"      : "fixed",
				// 버튼 클릭후 호출되는 콜백함수
				"onClick"     : function(button) {
				// button = 버튼명(band:밴드보내기)
				},
				// 공유하기 레이어 노출 후 호출되는 콜백함수
				"onShow"      : function() {
				},
				// 공유하기 레이어 닫기 후 호출되는 콜백함수
				"onHide"      : function() {
				},
				// window.resize 이벤트를 사용하지 않을때 resize 후 호출되는 콜백 함수
				"onResize"    : function(event) {
				},
				// window.onorientationchange 이벤트를 사용하지 않을때 가로/세로 전환 후 호출되는 콜백 함수
				"onRotate"    : function(event) {
				}
			});

            // window.resize
             window.resize = function() {
                 if (window.__splugin) {
                     window.__splugin.resize();
                 }
             };

             // window.onorientationchange
             if ("onorientationchange" in window) {
                 window.onorientationchange = function() {
                     if (window.__splugin) {
                         window.__splugin.resize();
                     }
                 }
             }
        },
        "sId" : "naver-splugin-sdk"
    });
}
</script>


<div class="banner_account _my_account_guide_layer"> <p class="txt">MY메뉴 <strong>계좌잔고</strong>에서 실제 보유 주식을 확인하세요!</p> <a href="#" class="btn_close _btn_close">닫기</a> <i class="new"></i> </div><div id="naver-splugin-wrap" style="display: none; user-select: text;"></div><div id="naver-splugin-dimmed" class="naver-splugin-dimmed spi_card_dmm2" style="display: none;"><div class="naver-splugin-dimmed"></div></div><div class="pop_dimmed_order _popup_order_config" style="display:none"> <span class="pop_dimmed_order_mask"></span> <div class="pop_dimmed pop_dimmed_order_inner"> <div class="pop_order_wrp"> <h3>증권사앱 설정</h3> <a href="#" class="btn_close _btn_close_config">닫기</a> <p class="tx">증권사앱을 선택하시면, 주문 시 해당 앱이 바로 연결,<br> 편리하게 거래 하실 수 있습니다.</p> <div class="company_lst"> <ul class="_company_list"> <li><a href="#" class="_tc _031"><span class="c11">DB금융투자</span></a></li> <li><a href="#" class="_tc _030"><span class="c1">삼성증권</span></a></li> <li><a href="#" class="_tc _002"><span class="c2">신한금융투자</span></a></li> <li><a href="#" class="_tc _024"><span class="c3">유안타증권</span></a></li> <li><a href="#" class="_tc _008"><span class="c15">유진투자증권</span></a></li> <li><a href="#" class="_tc _050"><span class="c5">키움증권</span></a></li> <li><a href="#" class="_tc _056"><span class="c10">하나대투증권</span></a></li> <li class="ios_none"><a href="#" class="_tc _063"><span class="c4">이베스트투자증권</span></a></li> <li><a href="#" class="_tc _022"><span class="c7">현대차투자증권</span></a></li> <li><a href="#" class="_tc _005"><span class="c12">미래에셋대우</span></a></li> <li><a href="#" class="_tc _012"><span class="c17">모바일증권 나무 NH투자증권</span></a></li> <li><a href="#" class="_tc _072"><span class="c14">케이프투자증권</span></a></li> <li><a href="#" class="_tc _004"><span class="c16">크레온 by 대신증권</span></a></li> <li><a href="#" class="_tc _071"><span class="c18">ktb투자증권</span></a></li> <li><a href="#" class="_tc _001"><span class="c19">KYOBO 교보증권</span></a></li> <li><a href="#" class="_tc _003"><span class="c20">true friend 한국투자증권</span></a></li> </ul> </div> <ul class="tx2">  <li>주문하기 기능은 <strong>이용자 편의를 위해 제공</strong>하는 기능으로 증권사 수수료 외에 <strong>별도의 추가수수료가 없습니다.</strong></li> <li>증권사 앱의 오류 및 지연은 네이버와 무관하며, 증권사 앱 사용에 따른 관련 문의는 해당 증권사로 문의해주세요.</li> </ul> </div> </div> </div> <iframe class="_app_checker" style="display:none"></iframe></body></html>