<html lang="ko" data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36"><style type="text/css" id="_jmc_no_tap_highlight_tag_"></style><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">



	
		<meta property="og:url" content="http://m.stock.naver.com/item/index.nhn?code=005930">
		<meta property="og:title" content="삼성전자 - 네이버 증권">
		<meta property="og:image" content="http://static.naver.net/m/stock/im/2016/08/og_stock-200.png">
		<meta property="og:description" content="관심종목의 실시간 주가를 가장 빠르게 확인하는 곳">
    
    


<meta property="og:type" content="article">
<meta property="og:article:thumbnailUrl" content=""> 
<meta property="og:article:author" content="네이버증권">
<meta property="og:article:author:url" content="http://m.stock.naver.com">


<title>네이버 증권</title> 

<link rel="stylesheet" type="text/css" href="/css/mstock.css?20180221074005">


	
	


<script type="text/javascript">
var REQUEST_MOBILE_BROWSER_TYPE = "";
var REQUEST_TELEPHONE_CORPORATION = "";

var nsc="Mstock.stockend";
var ccsrv="cc.naver.com";
</script>


			
				<script type="text/javascript" src="/js/finance/header_20180221074005.js"></script>
			
		
<script type="text/javascript">
;(function(){
	var doc = document.documentElement;
	doc.setAttribute('data-useragent', navigator.userAgent);
})();
</script>
<script type="text/javascript" charset="utf-8" id="" src="/js/finance/footer_20180221074005.js"></script><script type="text/javascript" charset="utf-8" id="" src="/js/finance/social_util.js"></script><script type="text/javascript" charset="utf-8" id="" src="/js/finance/nhn.comment.mobile.module.unpacked.js"></script><script type="text/javascript" charset="utf-8" id="" src="/js/finance/nts.m.PublicityPopup.js"></script><link rel="stylesheet" type="text/css" href="/css/comment.css?20180221074005"><link rel="stylesheet" type="text/css" href=""><script type="text/javascript" charset="utf-8" id="naver-splugin-sdk" src="http://spi.naver.net/js/release/ko_KR/splugin.m.js?20180223"></script><link id="naver-splugin-css" rel="stylesheet" type="text/css" href="http://spi.naver.net/css/20171113/spi_standard_m_20171113.css"><script type="text/javascript" charset="utf-8" id="" src="http://static.cbox.naver.net/js/cbox.core.js?v=1266136"></script><script type="text/javascript" charset="utf-8" id="" src="http://common.like.naver.com/js/reaction/dist/reaction.js"></script><style type="text/css" id="_cbox_default_style_"></style><link type="text/css" rel="stylesheet" href="http://static.cbox.naver.net/20180222152850/css/comment_stock_w.css" charset="utf-8"><script type="text/javascript" src="http://static.cbox.naver.net/20180222152850/js/cbox.all.js" charset="utf-8"></script><script charset="utf-8" type="text/javascript" src="http://common.like.naver.com/js/reaction/dist/jquery.js"></script><link charset="utf-8" type="text/css" rel="stylesheet" href="http://common.like.naver.com/static20180222150517/css/reaction/mobile/likeit_multi.css"><link charset="utf-8" type="text/css" rel="stylesheet" href="http://common.like.naver.com/static20180222150517/css/reaction/mobile/likeit_finance.css"><script charset="utf-8" type="text/javascript" src="http://common.like.naver.com/static20180222150517/js/reaction/dist/reaction.basic.js"></script></head>

<body class="end news">
<!-- u_skip -->
<div class="u_skip">
	<a href="#content">본문 바로가기</a>
</div>
<!-- //u_skip -->
<!-- header -->
<!-- 엔드상단 : 플리킹 없음 -->
<div id="content" role="main">
	<nav role="navigation" class="lnb" queryid="C1519364207972373095"><ul class="lnb_lst _btn_clear_infinity_history"> <li><a href="#/stocks/005930/total" onclick="nclk(this, 'nav.ttl', '', '')"><span class="txt">종합</span></a></li> <li><a href="#/stocks/005930/discuss" onclick="nclk(this, 'nav.nboard', '', '')"><span class="txt">토론</span></a></li> <li class="on"><a href="#/stocks/005930/news" onclick="nclk(this, 'nav.news', '', '')"><span class="txt">뉴스·공시</span></a></li> <li><a href="#/stocks/005930/price" onclick="nclk(this, 'nav.sise', '', '')"><span class="txt">시세·호가</span></a></li> <li><a href="#/stocks/005930/annual" onclick="nclk(this, 'nav.acc', '', '')"><span class="txt">재무</span></a></li> </ul></nav>
	<div id="content_body" class="ct_wrp _font_size_setting_target ct_box fs1" style="margin-bottom: 0px;">









	
	<div class="news_error " style="display:none;">
		<h1>웹페이지 주소가 변경되었거나<br>'언론사의 요청'에 의해<br><strong>삭제된 기사입니다.</strong></h1>
		<div class="ac"><a href="javascript:history.back();" class="btn">이전</a> <a href="javascript:history.back();" class="btn">목록보기</a></div>
	</div>
	
	
	<div class="news_error " style="display:none;">
		<h1>이 기사는 뉴스제휴평가위원회<br>'뉴스제휴 및 제재 심사 규정'에 따라<br><strong>노출 중단된 기사입니다.</strong></h1>
		<div class="ac"><a href="javascript:history.back();" class="btn">이전</a> <a href="javascript:history.back();" class="btn">목록보기</a></div>
	</div>
	
	<div class="article_wrp">
		<div class="media_end_head" data-article-write-time="201802231413">
			<!-- [D] 이미지의 실제높이 64의 절반인 32을 height로 부여 -->
			<div class="media_end_head_top">
				<a href="http://www.mt.co.kr/" class="media_end_head_top_logo"><img src="http://mimgnews1.naver.net/image/upload/office_logo/008/2017/01/11/logo_008_6_20170111151211.jpg" height="32" alt="머니투데이" class="media_end_head_top_logo_img"></a>
			</div>
			<div class="media_end_head_title">
				<!-- [D] 글자크기 조정 레이어는 모두 레이어 외 다른 영역 터치시 레이어가 닫히도록하여 레이어가 중복으로 열리지 않도록 헤주세요 -->
				<h2 class="media_end_head_headline">인탑스 '희망충전 대한민국' 후원금 전달식</h2>
			</div>
			<div class="media_end_head_info">
				<div class="media_end_head_info_datestamp">
					<div class="media_end_head_info_datestamp_bunch">
						<em class="media_end_head_info_datestamp_term">기사입력</em><span class="media_end_head_info_datestamp_time">2018.02.23 14:13</span>
					</div>
					<div class="media_end_head_info_datestamp_bunch">
						<em class="media_end_head_info_datestamp_term">최종수정</em><span class="media_end_head_info_datestamp_time">2018.02.23 14:14</span>
					</div>
				</div>
				<div class="media_end_head_info_variety">
					<div class="media_end_head_info_variety_left">
						<div class="media_end_head_info_variety_likeit">
							<div class="u_likeit _reactionModule" data-sid="NEWS" data-did="FINANCE" data-cid="ne_008_0004014126" style="visibility:visible" data-loaded="1" data-facetype="1">
		                        <a class="u_likeit_button _face off" href="#" data-label="news" role="button" aria-haspopup="true" aria-pressed="false" onclick="nclk(this,'RTL.face','',''); return false;">
				                    <span class="u_likeit_icons _icons">
				                        <span class="u_likeit_icon __reaction__like"><span class="u_likeit_blind">좋아요</span></span>
				                    <span class="u_likeit_icon __reaction__like" style="display: none;"><span class="u_likeit_blind">좋아요</span></span></span>
									<span class="u_likeit_blind">좋아요 평가하기</span>
									<span class="u_likeit_text _count">공감</span>
								</a>
								<ul class="u_likeit_layer _faceLayer" role="menu">
		                            <li class="u_likeit_list good" role="menuitem">
		                                <a class="u_likeit_list_button _button off" href="#" data-type="like" data-log="RTL.like|RTL.unlike" role="button" aria-selected="false" aria-pressed="false">
		                                    <span class="u_likeit_list_name _label">좋아요</span>
		                                    <span class="u_likeit_list_count _count">0</span>
		                                </a>
		                            </li>
		                            <li class="u_likeit_list warm" role="menuitem">
		                                <a class="u_likeit_list_button _button off" data-type="warm" data-log="RTL.warm|RTL.unwarm" href="#" role="button" aria-selected="false" aria-pressed="false">
		                                    <span class="u_likeit_list_name _label">훈훈해요</span>
		                                    <span class="u_likeit_list_count _count">0</span>
		                                </a>
		                            </li>
		                            <li class="u_likeit_list sad" role="menuitem">
		                                <a class="u_likeit_list_button _button off" data-type="sad" data-log="RTL.sad|RTL.unsad" href="#" role="button" aria-selected="false" aria-pressed="false">
		                                    <span class="u_likeit_list_name _label">슬퍼요</span>
		                                    <span class="u_likeit_list_count _count">0</span>
		                                </a>
		                            </li>
		                            <li class="u_likeit_list angry" role="menuitem">
		                                <a class="u_likeit_list_button _button off" data-type="angry" data-log="RTL.angry|RTL.unangry" href="#" role="button" aria-selected="false" aria-pressed="false">
		                                    <span class="u_likeit_list_name _label">화나요</span>
		                                    <span class="u_likeit_list_count _count">0</span>
		                                </a>
		                            </li>
		                            <li class="u_likeit_list want" role="menuitem">
		                                <a class="u_likeit_list_button _button off" data-type="want" data-log="RTL.want|RTL.unwant" href="#" role="button" aria-selected="false" aria-pressed="false">
		                                    <span class="u_likeit_list_name _label">후속기사 원해요</span>
		                                    <span class="u_likeit_list_count _count">0</span>
		                                </a>
		                            </li>
		                        </ul>
							</div>
						<!-- //좋아요 -->
						</div>
						<div class="media_end_head_info_variety_cmtcount">
							
							<a href="/comment/list.nhn?aid=0004014126&amp;oid=008&amp;category=itemnewsList&amp;code=005930" class="media_end_head_cmtcount_button _comment_total_count">0</a>
						</div>
					</div>
					<div class="media_end_head_info_variety_right">
						<div class="media_end_head_fontsize _font_size_config_wrapper" queryid="C1519364208031678085">
							<a href="#" class="media_end_head_fontsize_set _font_size_config_toggle_btn" onclick="nclk(this, 'nsd.font', '', '');"><span class="blind">글자 크기 변경하기</span></a>
							<div class="media_end_head_fontsize_setlayer">
								<ul class="media_end_head_fontsize_setlayer_select">
									<li class="media_end_head_fontsize_option1 _opt media_end_head_fontsize_option_is_on" data-value="1">
		                                <a href="#" class="media_end_head_fontsize_option_text" onclick="nclk(this, 'nsd.fchg', '', '');">가<em class="blind">1단계</em></a>
		                            </li>
		                            <li class="media_end_head_fontsize_option2 _opt" data-value="2">
		                                <a href="#" class="media_end_head_fontsize_option_text" onclick="nclk(this, 'nsd.fchg', '', '');">가<em class="blind">2단계</em></a>
		                            </li>
		                            <li class="media_end_head_fontsize_option3 _opt" data-value="3">
		                                <a href="#" class="media_end_head_fontsize_option_text" onclick="nclk(this, 'nsd.fchg', '', '');">가<em class="blind">3단계</em></a>
		                            </li>
		                            <li class="media_end_head_fontsize_option4 _opt" data-value="4">
		                                <a href="#" class="media_end_head_fontsize_option_text" onclick="nclk(this, 'nsd.fchg', '', '');">가<em class="blind">4단계</em></a>
		                            </li>
		                            <li class="media_end_head_fontsize_option5 _opt" data-value="5">
		                                <a href="#" class="media_end_head_fontsize_option_text" onclick="nclk(this, 'nsd.fchg', '', '');">가<em class="blind">5단계</em></a>
		                            </li>
								</ul>
							</div>
						</div>
						<!-- 공유 -->
						<div class="media_end_head_share">
							<a href="#" onclick="nclk(this, 'nsd.share', '', '');" id="spiButton" class="u_btn_sns_share naver-splugin" data-style="standard" data-url="" data-source-name="머니투데이" data-service-name="금융" data-title="인탑스 '희망충전 대한민국' 후원금 전달식" data-blog-source-type="3" data-blog-blog-id="naver" data-cafe-source-type="3" data-kakaostory-display="off" data-calendar-display="off" data-mypeople-display="off" splugin-id="141941102"><span class="send_caption naver-splugin-c"><span class="u_hc">SNS 보내기</span></span></a>									 
						</div>
						<!-- //공유 -->
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="newsct_body">
	
		[머니투데이 유현석 기자] [행복나눔 프로젝트 일환으로 진행…"2013년부터 4만2000여가구 지원"]<br><br><span class="end_photo_org"><img id="img1" style="max-width:100%;" src="http://imgnews.naver.net/image/008/2018/02/23/0004014126_001_20180223141447592.jpg?type=w430"><em class="img_desc">윤규한 인탑스 부사장, 이경우 KBS라디오센터장, 이제훈 초록우산 어린이재단 회장(사진 왼쪽부터)이 23일 '희망충전 대한민국' 캠페인 후원금 전달식에서 기념촬영을 하고 있는 모습. /사진제공=인탑스</em></span>삼성전자의 휴대폰 케이스 부문 1차 협력사인 인탑스는 초록우산 어린이재단, KBS라디오센터와 사회공헌 협약을 체결하고 '희망충전 대한민국' 캠페인에 대한 후원금 전달식을 진행했다고 23일 밝혔다.<br><br>서울 여의도 KBS 본관에서 진행된 이날 행사에는 윤규한 인탑스 부사장, 이제훈 초록우산 어린이재단 회장, 이경우 KBS라디오센터장이 참석했다.<br><br>이번 후원은 인탑스의 '행복나눔 프로젝트'의 일환으로 진행됐다. 행복나눔 프로젝트는 복지 사각지대에 있는 차상위 계층을 지원하기 위해 인탑스, 서울시, 서울시 사회복지협의회가 2013년 3자 협약으로 시작한 사회공헌 활동이다. 연간 5억원의 예산을 편성해 생활 필수품 및 선풍기, 전기요 등의 계절별 필요물품을 전달하고 있다. 현재까지 인탑스가 지원한 차상위 계층 이웃은 총 4만2000여가구다.<br><br>김근하 인탑스 대표이사는 "회사의 성장과 발전에는 우리 사회가 그 밑거름이 되었다는 점을 항상 감사하게 생각하고 있다"며 "사회 각층의 따뜻한 지원을 통해 취약 가정 아이들의 삶이 더욱 희망적이고, 긍정적으로 변화될 수 있기를 소망한다"고 말했다.<br><br><a href="http://www.mt.co.kr/redirectAd.php?id=0&amp;date=20180208020245">▶빵~ 뜨는 따끈한 기사</a><br><a href="http://www.mt.co.kr/redirectAd.php?id=1&amp;date=20180208020245">▶무료 만화 보고 선물도 받고~</a>  <a href="http://www.mt.co.kr/redirectAd.php?id=2&amp;date=20180208020245">▶치어리더 vs 레이싱걸</a>  <br><br>유현석 기자 guspower@mt.co.kr<br><br>&lt;저작권자 ⓒ '돈이 보이는 리얼타임 뉴스' 머니투데이, 무단전재 및 재배포 금지&gt; <br><br><div class="link_news"><h3>머니투데이 관련뉴스<span>언론사 페이지로 이동합니다.</span></h3><ul><li><a href="http://news.mt.co.kr/mtview.php?no=2018022117035259899&amp;outlink=2&amp;NMBA" target="_blank">[단독]"3년 고용보장" 中더블스타에 금호타이어 넘길 듯</a></li><li><a href="http://news.mt.co.kr/mtview.php?no=2018020708410086951&amp;outlink=2&amp;NMBA" target="_blank">[MT리포트]탈북 청년 "우리의 소원 통일? 남한 살아보니…"</a></li><li><a href="http://news.mt.co.kr/mtview.php?no=2018022107495101948&amp;outlink=2&amp;NMBA" target="_blank">[우보세]'갓(God) GM'…회생과 철수의 트리거는</a></li><li><a href="http://news.mt.co.kr/mtview.php?no=2018022214231892756&amp;outlink=2&amp;NMBA" target="_blank">대우車 GM매각 스토리 재조명…김우중 "헐값에 넘겼다"</a></li><li><a href="http://news.mt.co.kr/mtview.php?no=2018022114250523863&amp;outlink=2&amp;NMBA" target="_blank">신동빈 회장, 日롯데 대표이사 사임…부회장직은 유지</a></li></ul></div>
	</div>
	
	<div class="ends_btn">
		<!-- 좋아요 -->
		<div class="u_likeit _reactionModule" data-sid="NEWS" data-did="FINANCE" data-cid="ne_008_0004014126" style="visibility: visible;" data-loaded="1" data-facetype="1">
	        <ul class="u_likeit_layer _faceLayer" role="menu">
				<li class="u_likeit_list good" role="menuitem">
	                <a class="u_likeit_list_button _button off" data-type="like" data-log="RTC.like|RTC.unlike" href="#" role="button" aria-selected="false" aria-pressed="false">
	                    <span class="u_likeit_list_name _label">좋아요</span>
	                    <span class="u_likeit_list_count _count">0</span>
	                </a>
	            </li>
	            <li class="u_likeit_list warm" role="menuitem">
	                <a class="u_likeit_list_button _button off" data-type="warm" data-log="RTC.warm|RTC.unwarm" href="#" role="button" aria-selected="false" aria-pressed="false">
	                    <span class="u_likeit_list_name _label">훈훈해요</span>
	                    <span class="u_likeit_list_count _count">0</span>
	                </a>
	            </li>
	            <li class="u_likeit_list sad" role="menuitem">
	                <a class="u_likeit_list_button _button off" data-type="sad" data-log="RTC.sad|RTC.unsad" href="#" role="button" aria-selected="false" aria-pressed="false">
	                    <span class="u_likeit_list_name _label">슬퍼요</span>
	                    <span class="u_likeit_list_count _count">0</span>
	                </a>
	            </li>
	            <li class="u_likeit_list angry" role="menuitem">
	                <a class="u_likeit_list_button _button off" data-type="angry" data-log="RTC.angry|RTC.unangry" href="#" role="button" aria-selected="false" aria-pressed="false">
	                    <span class="u_likeit_list_name _label">화나요</span>
	                    <span class="u_likeit_list_count _count">0</span>
	                </a>
	            </li>
	            <li class="u_likeit_list want" role="menuitem">
	                <a class="u_likeit_list_button _button off" data-type="want" data-log="RTC.want|RTC.unwant" href="#" role="button" aria-selected="false" aria-pressed="false">
	                    <span class="u_likeit_list_name _label">후속기사 원해요</span>
	                    <span class="u_likeit_list_count _count">0</span>
	                </a>
	            </li>
			</ul>
		</div>
	</div>

	
      	<div id="spiLayer" class="plugin_wrap"></div>
      	
          
	<div class="paging_wrp">
	    <a href="javascript:history.back();" class="btn_list _btn_list" onclick="nclk(this,'stn.list','','')">목록보기</a>
	    
	    <a href="#" onclick="nclk(this,'stn.share','','',1)" class="btn_share naver-splugin" data-style="standard" data-url="http://m.stock.naver.com/item/meta.nhn?code=005930&amp;type=news&amp;officeId=008&amp;articleId=0004014126" data-source-name="머니투데이" data-service-name="금융" data-title="인탑스 '희망충전 대한민국' 후원금 전달식" data-blog-source-type="3" data-blog-blog-id="naver" data-cafe-source-type="3" data-kakaostory-display="off" data-calendar-display="off" data-mypeople-display="off" splugin-id="2310394428"><span class="blind">공유하기</span></a>
	</div>

	<div class="banner _banner" data-id="da_stock" data-url="http://mv.ad.naver.com/fxshow?su=SU10068" onclick="nclk(this, 'stn.banner', '', '');"><div id="da_stock" data-veta-preview="m_stock_01" class="_banner_contents"><a href="http://mv.veta.naver.com/fxclick?eu=EU10000086&amp;ac=7636563&amp;src=3331403&amp;br=2640698&amp;evtcd=P901&amp;x_ti=979&amp;tb=&amp;oid=&amp;sid1=&amp;sid2=&amp;rk=Wo@obgpjaZMAAEJ3i18AAAWE&amp;eltts=gWdLFQmRKEBA8X8ZEPBEKg%3D%3D&amp;lu=&amp;" style="display:block;background:#fff;"><span id="nbp_da_img" data-role="imgWrapper" style="display:block;width:100%;height:150px;background:url(http://tveta.naver.net/libs/1178/1178862/1d09e388863e6f820a5f_20180221140001666_bg_left.jpg) repeat-x;background-size:auto 150px;-webkit-background-size:1px 150px;text-decoration:none;text-align:center;"><img src="http://tveta.naver.net/libs/1178/1178862/1d09e388863e6f820a5f_20180221140001666.jpg" alt="AD" width="360px" height="150px" data-media-width="720" data-media-height="300" data-content-type="image" style="vertical-align:top;border:none"></span></a></div></div>

	
		


	<div class="ct_box ad_cont_wrap">
		<div class="ad_cont">
			<h4 class="ad_title"></h4>
			<div class="ad_dsc">
				<a href="https://m.naver.com/naverapp/?version=1&amp;cmd=onMenu&amp;menuCode=FINANCE" class="thumb" onclick="nclk(this, 'msr.txt', '', '');"><img src="http://imgfinance.naver.com/upload/banners/1519353915714.jpg" width="115" height="80"></a>
				<a href="https://m.naver.com/naverapp/?version=1&amp;cmd=onMenu&amp;menuCode=FINANCE" onclick="nclk(this, 'msr.txt', '', '');">
					<strong>2018 돈 많이 버는 직업, 돈 잘 버는 직업 BEST 10</strong>
					<p>네이버 ‘경제M‘이 네이버 홈 화면에 추가됩니다</p>
				</a>
			</div>
		</div>
	</div>

	</div>
	
	<!-- 관심 종목 추가 & 소셜 공유 -->
    <div class="ct_box end_option" style="display:none;">
        <h4 class="blind">관심종목 추가, SNS 보내기</h4>
        <div class="btn_area">
            <a href="#" class="btn_favorite">관심종목</a>
            <a href="#" class="btn_share naver-splugin" data-kakaostory-display="off" data-mypeople-display="off" data-calendar-display="off" splugin-id="4271191871" data-url="http://m.stock.naver.com/item/meta.nhn?code=005930&amp;type=total" data-title="삼성전자 - 네이버 증권
관심종목의 실시간 주가를 가장 빠르게 확인하는 곳" data-bookmark-title="네이버 증권">
				<span class="blind">공유하기</span>
            </a>
        </div>
    </div>
    <!-- // 관심 종목 추가 & 소셜 공유 -->
<div id="cbox_module" class="_common_comment u_cbox"><div class="u_cbox_wrap u_cbox_ko u_cbox_type_sort_favorite"><div class="u_cbox_head"><h5 class="u_cbox_title">댓글</h5><span class="u_cbox_count"></span><button type="button" class="u_cbox_btn_refresh" data-action="count#refresh" data-log="RPO.refresh"><span class="u_cbox_ico_refresh"></span><span class="u_cbox_txt_refresh">새로고침</span></button><div class="u_cbox_head_tools"><div class="u_cbox_usercomment"><a href="#" class="u_cbox_btn_usercomment" data-action="userComment" data-log="RPC.ownopen"><span class="u_cbox_txt_usercomment">내 댓글</span><span class="u_cbox_ico_usercomment"></span></a></div></div></div><div class="u_cbox_write_wrap"><div class="u_cbox_write_box u_cbox_type_logged_in"><form><fieldset><legend class="u_vc">댓글 쓰기</legend><div class="u_cbox_write"><div class="u_cbox_write_inner"><div class="u_cbox_profile_area"><div class="u_cbox_box_name"><span class="u_cbox_btn_social u_cbox_btn_social_on"><span class="u_cbox_box_social_naver"><span class="u_cbox_ico_social"></span><span class="u_cbox_txt_social">네이버</span></span></span><span class="u_cbox_write_name">klpoik</span></div><div class="u_cbox_social"><strong class="u_vc">소셜 로그인</strong><a href="#" class="u_cbox_btn_social" data-action="auth#login" data-param="twitter" data-log="RPN.twi"><span class="u_cbox_box_social_twitter"><span class="u_cbox_ico_social"></span><span class="u_cbox_txt_social">트위터</span></span></a><a href="#" class="u_cbox_btn_social" data-action="auth#login" data-param="facebook" data-log="RPN.fb"><span class="u_cbox_box_social_facebook"><span class="u_cbox_ico_social"></span><span class="u_cbox_txt_social">페이스북</span></span></a></div></div><div class="u_cbox_write_area"><strong class="u_vc">댓글 입력</strong><div class="u_cbox_inbox"><textarea id="cbox_module__write_textarea" class="u_cbox_text" rows="3" cols="30"></textarea><label for="cbox_module__write_textarea" class="u_cbox_guide" data-action="write#placeholder" data-param="@event">댓글을 입력해주세요</label></div></div><div class="u_cbox_upload_image" style="display:none"><span class="u_cbox_upload_image_wrap fileButton browsebutton _cboxImageSelect"><span class="u-cbox-browse-box"><input class="u-cbox-browse-file-input" type="file" name="browse" accept="image/*" title="이미지 추가"></span><a href="#" class="u_cbox_upload_thumb_link u-cbox-browse-button" data-log="RPP.add"><span class="u_cbox_upload_thumb_add">이미지 추가</span><span class="u_cbox_upload_thumb_mask"></span></a></span></div><div class="u_cbox_upload_sticker" style="display:none"></div><div class="u_cbox_write_count"><span class="u_vc">현재 입력한 글자수</span><strong class="u_cbox_count_num">0</strong>/<span class="u_vc">현재 입력한 글자수</span><span class="u_cbox_write_total">300</span></div><div class="u_cbox_upload"><div class="u_cbox_addition"></div><button type="button" class="u_cbox_btn_upload" data-action="write#request" data-log="RPC.write#RPC.reply"><span class="u_cbox_ico_upload"></span><span class="u_cbox_txt_upload">등록</span></button></div></div></div></fieldset></form></div></div><div class="u_cbox_notice u_cbox_notice_none" style="display: none;"></div><div class="u_cbox_sort"><strong class="u_vc">댓글 정렬 옵션 선택</strong><div class="u_cbox_sort_option"><div class="u_cbox_sort_scroller"><ul class="u_cbox_sort_option_list"><li class="u_cbox_sort_option_wrap u_cbox_sort_option_on"><a href="#" data-action="sort#request" data-param="favorite" data-log="RPS.like" class="u_cbox_select"><span class="u_cbox_ico_select">선택됨</span><span class="u_cbox_sort_label">순공감순</span></a></li><li class="u_cbox_sort_option_wrap"><a href="#" data-action="sort#request" data-param="new" data-log="RPS.new" class="u_cbox_select"><span class="u_cbox_ico_select"></span><span class="u_cbox_sort_label">최신순</span></a></li></ul></div></div><div class="u_cbox_head_tools"><div class="u_cbox_help_info"><strong class="u_cbox_info_label">BEST댓글 운영 기준 안내</strong><a href="#" class="u_cbox_btn_help" title="안내 레이어 보기" data-action="sort#tools#toggle" data-log="RPO.helpopen#RPO.helpclose#RPO.infopen#RPO.infclose"><span class="u_cbox_ico_help"></span><span class="u_cbox_txt_help">안내 레이어 보기</span></a></div><div class="u_cbox_layer u_cbox_layer_help" style="display: none;"><strong class="u_cbox_info_title"><span class="u_cbox_ico_help"></span>댓글노출정책</strong><p class="u_cbox_info_txt">순공감순은 공감수에서 비공감수를 뺀 수치가 많은 댓글입니다. 비정상적인 방법으로 공감수가 증가하는 경우 제외될 수 있습니다.</p><a href="#" class="u_cbox_btn_info_close" data-action="sort#tools#toggle" data-log="RPO.helpclose#RPO.infclose">BEST댓글 운영 기준 안내 레이어 닫기</a></div></div></div><div class="u_cbox_content_wrap"><div class="u_cbox_comment_none"><div class="u_cbox_con_inform"><span class="u_cbox_ico_comment_none"></span><span class="u_cbox_contents_none">등록된 댓글이 없습니다.</span></div></div><ul class="u_cbox_list" style="display: none;"></ul></div><div class="u_cbox_view_comment" style="display: none;"><a href="#" class="u_cbox_btn_view_comment" data-action="view#link" data-log="RPC.allmore"><span class="u_cbox_in_view_comment">전체 댓글 더보기</span><span class="u_cbox_ico_view_comment"></span></a></div></div></div></div>
<hr>






<a href="#" class="btn_top _btn_floating_top" style="opacity: 0; display: none; zoom: 1;">맨위로</a>
<footer id="footer" role="contentinfo" class="_footer" style="">
    <div class="f_btn_wrp">
    	
		
			
				<a class="u_ftlk _sign" href="https://nid.naver.com/nidlogin.logout?svctype=262144&amp;url=http%3A%2F%2Fm.stock.naver.com%2Fitem%2Findex.nhn%3Ftype%3Dnews%26code%3D005930%26articleId%3D0004014126%26officeId%3D008" id="news_login" onclick="nclk(this, 'fot.logout', '', '');">로그아웃</a>
			
			
		
		<a href="http://finance.naver.com/item/news_read.nhn?code=005930&amp;article_id=0004014126&amp;office_id=008" class="u_ftlk _link_pc" id="pcVersion" onclick="nclk(this, 'fot.gopc', '', '');">PC버전</a>
		<a href="http://m.naver.com/services.html?f=svc.stock" id="footerGnbButton" class="u_ftlk u_ftlkbt" onclick="nclk(this, 'fot.sitemap', '', '');">전체서비스<span class="u_vc" id="footerGnbCaption"> 전체서비스</span></a>
	</div>
    
       <div class="f_txt_wrp">
		<p>네이버(주)가 제공하는 금융정보는 각 컨텐츠 제공업체<button class="ico_q_tip _cp_list_layer_btn">TIP</button>로부터 받는 정보로 투자 참고사항이며,<br>
		오류가 발생하거나 지연될 수 있습니다. 네이버(주)는 제공된 정보에 의한<br>
		투자결과에 법적책임을 지지 않습니다. 게시된 정보는 무단 으로 배포할 수 없습니다.</p>
		<div class="provider_layer _cp_list_layer" style="display:none;">
            <strong class="provider_layer__tit">컨텐츠 제공업체</strong>
            <div class="provider_layer__txt">
                <dl>
                    <dt>코스콤</dt>
                    <dd>실시간 주가정보 및 국내시세정보</dd>
                    <dt>와이즈에프엔</dt>
                    <dd>기업 및 재무정보</dd>
                    <dt>이데일리</dt>
                    <dd>해외 시세 및 시장지표 정보</dd>
                    <dt>제로인</dt>
                    <dd>펀드정보</dd>
                    <dt>한국예탁결제원</dt>
                    <dd>주주총회일 및 전자투표 정보</dd>                    
                    <dt>IR큐더스</dt>
                    <dd>기업 IR정보</dd>
                    <dt>후즈굿</dt>
                    <dd>비재무정보</dd>
                </dl>
            </div>
            <button class="btn_clse">레이어 닫기</button>
        </div>
	</div>
       
	<div class="f_link_wrp">
	    <a href="http://www.navercorp.com/" class="u_cra u_cra_v1" onclick="nclk(this, 'fot.nhncorp', '', '');">ⓒ NAVER Corp.</a>
	    <a href="https://m.help.naver.com/support/alias/contents2/finance/finance_2.naver" class="u_cra" onclick="nclk(this, 'fot.help', '', '');">증권 고객센터</a>
	    <a href="https://m.help.naver.com/support/alias/contents2/finance/finance_3.naver" class="u_cra" onclick="nclk(this, 'fot.error', '', '');">오류신고</a>
	</div>
	<div class="goto_area">
        <a href="intent://addshortcut?url=http://m.stock.naver.com&amp;icon=http://static.naver.net/nfinance/ico/android_192x192_xxxhpdi.png&amp;title=%EB%84%A4%EC%9D%B4%EB%B2%84+%EC%A6%9D%EA%B6%8C&amp;serviceCode=stock&amp;version=7#Intent;scheme=naversearchapp;action=android.intent.action.VIEW;category=android.intent.category.BROWSABLE;package=com.nhn.android.search;end" onclick="nclk(this, 'fot.shortcut', '', '');" class="goto"><span class="app_stock">네이버 증권</span><em>네이버앱의</em><strong>증권</strong> 홈화면에 바로가기 추가 <span class="ico_add"></span></a>
    </div>
</footer>
<script type="text/javascript">
!function(t,o){function n(t){new e(t)}function e(t){this._init(t)}e.prototype={constructor:e,_init:function(t){this._aUrlToBeLoad=t.aUrlToBeLoad,this._sCharSet=t.sCharSet||"utf-8",this._sId=t.sId||"",this._fnCallback=t.fnCallback,this._fnOnLoadScript=this._getFnOnLoadScript(),this._oModel=new e.Model(this._aUrlToBeLoad),this._oView=(new e.View).setCharSet(this._sCharSet).setId(this._sId),this._oHandlerManager=e.HandlerManagerFactory.getHandler(),this._load()},_load:function(){return this._oModel.setScriptUrlToBeLoad(),!0===this._oModel.isAlreadyLoaded()?(this._onLoadScriptForAlreadyLoaded(),o):(this._oView.loadScript({sUrlToBeLoad:this._oModel.getCurrentLoadingUrl(),oHandlerManager:this._oHandlerManager,fnOnLoadCallback:this._fnOnLoadScript}),this._oModel.addToLoadingInfo(this._oView.getLoadingScriptEl()),o)},_onLoadScriptForAlreadyLoaded:function(){this._oModel.updateDataForAlreadyLoaded(),this._onAfterLoad()},_getFnOnLoadScript:function(){var t=this;return function(){t._oModel.updateDataWithLoadedScript(this),t._onAfterLoad()}},_onAfterLoad:function(){return!1===this._oModel.isLoadedAllScript()?(this._load(),o):(this._fireCallback(),o)},_fireCallback:function(){var t=this._fnCallback;"function"==typeof t&&t()}},e.View=function(t){this._init(t)},e.View.prototype={constructor:e.View,_init:function(){this._sCharSet="utf-8",this._sId="",this._elLoadingScript=null},setCharSet:function(t){return this._sCharSet=t,this},setId:function(t){return this._sId=t,this},getLoadingScriptEl:function(){return this._elLoadingScript},loadScript:function(t){this._makeScriptElToBeLoad(t),this._appendScriptForLoad()},_appendScriptForLoad:function(){var t=document.getElementsByTagName("head")[0];t.appendChild(this._elLoadingScript)},_makeScriptElToBeLoad:function(t){var o=t.oHandlerManager,n=document.createElement("script");n.setAttribute("type","text/javascript"),n.setAttribute("charset",this._sCharSet),n.setAttribute("id",this._sId),n.setAttribute("src",t.sUrlToBeLoad),o.attachOnloadToScript(n,t.fnOnLoadCallback),this._elLoadingScript=n}},e.Model=function(t){this._init(t)},e.Model.prototype={constructor:e.Model,_init:function(t){this._aUrlToBeLoad=t,this._nLoadedScriptCount=0,this._sCurrentLoadingUrl="",this._htLoadedInfoPool={},this._htLoadingInfoPool={}},setScriptUrlToBeLoad:function(){var t=this._getLoadedCount();this._sCurrentLoadingUrl=this._aUrlToBeLoad[t]},isAlreadyLoaded:function(){return o!==this._htLoadedInfoPool[this._sCurrentLoadingUrl]},getCurrentLoadingUrl:function(){return this._sCurrentLoadingUrl},updateDataForAlreadyLoaded:function(){this._updateLoadedScriptCount()},updateDataWithLoadedScript:function(t){this._addToLoadedInfo(t),this._updateLoadedScriptCount(),this.removeFromLoadingInfo()},removeFromLoadingInfo:function(){delete this._htLoadingInfoPool[this._sCurrentLoadingUrl]},addToLoadingInfo:function(t){this._htLoadingInfoPool[this._sCurrentLoadingUrl]=t},isLoadedAllScript:function(){return this._getLoadedCount()===this._aUrlToBeLoad.length},_addToLoadedInfo:function(t){this._htLoadedInfoPool[this._sCurrentLoadingUrl]=t},_updateLoadedScriptCount:function(){this._nLoadedScriptCount++},_getLoadedCount:function(){return this._nLoadedScriptCount}},e.HandlerManagerFactory={getHandler:function(){var t=document.createElement("script"),o=null===t.onreadystatechange;return!0===o?e.HandlerManagerSingleToneForIe:e.HandlerManagerSingleTone}},e.HandlerManagerSingleTone={attachOnloadToScript:function(t,o){t.onload=o}},e.HandlerManagerSingleToneForIe={attachOnloadToScript:function(t,o){t.onreadystatechange=this._getOnLoadScript(o)},_getOnLoadScript:function(t){return function(){var o="complete"==this.readyState||"loaded"==this.readyState;!1!==o&&(t(),this.onreadystatechange=null)}}},t.loadJs=n}(window);
</script>

<script src="http://tveta.naver.net/libs/assets/js/mo/sub/min/mo.sub.veta.core.min.js?20180221074005"></script>
<script type="text/javascript">
var fnWindowOnloadBackup = window.onload;

function load(){
    if(typeof fnWindowOnloadBackup === "function"){
        fnWindowOnloadBackup();
    }

    setTimeout(
        function(){
            var aUrlToBeLoad = [
                
			
				"/js/finance/footer_20180221074005.js"
			
		,
                "/js/finance/social_util.js",
                "/js/finance/nhn.comment.mobile.module.unpacked.js",
                "/js/finance/nts.m.PublicityPopup.js",
                //"http://static.news.naver.net/mnews/resources/20150514_115126/js/generated/nhn.scmt.mobile.js?20180221074005"
             ];

            loadJs({
                "aUrlToBeLoad": aUrlToBeLoad,
                "sCharSet": "utf-8",
                "fnCallback": function(){
		            nts.Util.loadCss("/css/comment.css?20180221074005");
        		    //nts.Util.loadCss("http://static.news.naver.net/image/news/sc/comment.news.css?20180221074005");
        		    nts.Util.loadCss("");
        		    
                	nts.m.ChartImageSrc._BASE = 'http://imgfinance.naver.net/chart/mobile/'

                    
					var oHistoryBackHandler = nts.m.HistoryBackHandlerWithLocalStorage.get_instance();
					oHistoryBackHandler.restoreContents();

					
                    if(typeof init === "function"){
                        init();
                    }

                    oHistoryBackHandler.handleInfinityScroll(nts.m.StockUtil.getInfinityScroll(), false);

                    if(typeof initAutoComplete === "function"){
                        initAutoComplete();
                    }

                    if(undefined !== nts.m.MyStockLayer){
                         window.oMyStockLayer = new nts.m.MyStockLayer().
                           init().
                           activate();
                    }

                    
                    nts.Util.lazyLoadingFromImageTag("._lazy_img");
                    var oTopButton = new nts.m.TopButton();
                	oTopButton.activate();
                	
                 	
                    new nts.m.LayerToggler()
                        .init({
                            wrapper: jindo.$$.getSingle('._footer'),
                            sToggleBtnSelector: '._cp_list_layer_btn',
                            sLayerSelector: '._cp_list_layer',
                            bUseLayerClickAndClose: true,
                            bUseLayerAutoCloseWhenFocusOut: true
                        })
                        .activate();
                },
            });
        },
        10
    );
}

if(window.addEventListener){
    window.addEventListener("load", load, true);
}else if(window.attachEvent){
    window.attachEvent("onload", load);
}else{
    window.onload = load;
}

BMR.run('http://sp.naver.com/sp');
</script>



<script type="text/javascript">
function init() {
	var endHeaderFixable = new nts.m.EndHeaderFixable();
	
	var oCommonComment = new nts.m.CommonComment(
			jindo.$Element('content')
	).
			setCoreModuleResourceDomain('http://static.cbox.naver.net').
			setCoreModuleApiDomain('https://apis.naver.com/commentBox/cbox5').
			setType('preview').
			setAllPageUrl('/comment/list.nhn?category=itemnewsList&code=');

    window.oStockWatch = new nts.m.StockWatch({
            codeList : [],
            tickerData : {},
            redirect : {
                group : '/mystock/groupEdit.nhn',
                report : '/item/boardArticleCommonReport.nhn?articleId={:nid}&returnUrl=http%3A%2F%2Fm.stock.naver.com%2Fitem%2Findex.nhn%3Fcode%3D'
            },
            c3p: {
                css: '/css/c3p.css?20180221074005',
                js: '/js/finance/c3p_20180221074005.js'
            },
            reaction: {
                sModuleSrc: 'http://common.like.naver.com/js/reaction/dist/reaction.js',
                sReactionDomain: 'http://common.like.naver.com'
            }
        },
        oCommonComment
    );
    initSocial();
}

function initSocial(){
    var t = new Date(), yyyy = t.getFullYear(), mm = t.getMonth() + 1, dd = t.getDate();
    var ts = yyyy + (mm < 10 ? '0' + mm : mm) + (dd < 10 ? '0' + dd : dd);
	
	// 소셜 플러그인
    loadJs({
        "aUrlToBeLoad" : [
            "http://spi.naver.net/js/release/ko_KR/splugin.m.js?" + ts
        ],
        "sCharSet" : "utf-8",
        "fnCallback" : function(){
             window.__splugin = SocialPlugIn_Core({
				// nEvent Key
				"evKey"       : "finance",
				// 서비스명
				"serviceName" : "금융",
				// 딤드레이어 타입(default,fixed,custom)
				"dimmed"      : "fixed",
				// 버튼 클릭후 호출되는 콜백함수
				"onClick"     : function(button) {
				// button = 버튼명(band:밴드보내기)
				},
				// 공유하기 레이어 노출 후 호출되는 콜백함수
				"onShow"      : function() {
				},
				// 공유하기 레이어 닫기 후 호출되는 콜백함수
				"onHide"      : function() {
				},
				// window.resize 이벤트를 사용하지 않을때 resize 후 호출되는 콜백 함수
				"onResize"    : function(event) {
				},
				// window.onorientationchange 이벤트를 사용하지 않을때 가로/세로 전환 후 호출되는 콜백 함수
				"onRotate"    : function(event) {
				}
			});

            // window.resize
             window.resize = function() {
                 if (window.__splugin) {
                     window.__splugin.resize();
                 }
             };

             // window.onorientationchange
             if ("onorientationchange" in window) {
                 window.onorientationchange = function() {
                     if (window.__splugin) {
                         window.__splugin.resize();
                     }
                 }
             }
        },
        "sId" : "naver-splugin-sdk"
    });
}
</script>


<div class="banner_account _my_account_guide_layer"> <p class="txt">MY메뉴 <strong>계좌잔고</strong>에서 실제 보유 주식을 확인하세요!</p> <a href="#" class="btn_close _btn_close">닫기</a> <i class="new"></i> </div><div id="naver-splugin-wrap" style="display: none; user-select: text;"></div><div id="naver-splugin-dimmed" class="naver-splugin-dimmed spi_card_dmm2" style="display: none;"><div class="naver-splugin-dimmed"></div></div><div class="pop_dimmed_order _popup_order_config" style="display:none"> <span class="pop_dimmed_order_mask"></span> <div class="pop_dimmed pop_dimmed_order_inner"> <div class="pop_order_wrp"> <h3>증권사앱 설정</h3> <a href="#" class="btn_close _btn_close_config">닫기</a> <p class="tx">증권사앱을 선택하시면, 주문 시 해당 앱이 바로 연결,<br> 편리하게 거래 하실 수 있습니다.</p> <div class="company_lst"> <ul class="_company_list"> <li><a href="#" class="_tc _031"><span class="c11">DB금융투자</span></a></li> <li><a href="#" class="_tc _030"><span class="c1">삼성증권</span></a></li> <li><a href="#" class="_tc _002"><span class="c2">신한금융투자</span></a></li> <li><a href="#" class="_tc _024"><span class="c3">유안타증권</span></a></li> <li><a href="#" class="_tc _008"><span class="c15">유진투자증권</span></a></li> <li><a href="#" class="_tc _050"><span class="c5">키움증권</span></a></li> <li><a href="#" class="_tc _056"><span class="c10">하나대투증권</span></a></li> <li class="ios_none"><a href="#" class="_tc _063"><span class="c4">이베스트투자증권</span></a></li> <li><a href="#" class="_tc _022"><span class="c7">현대차투자증권</span></a></li> <li><a href="#" class="_tc _005"><span class="c12">미래에셋대우</span></a></li> <li><a href="#" class="_tc _012"><span class="c17">모바일증권 나무 NH투자증권</span></a></li> <li><a href="#" class="_tc _072"><span class="c14">케이프투자증권</span></a></li> <li><a href="#" class="_tc _004"><span class="c16">크레온 by 대신증권</span></a></li> <li><a href="#" class="_tc _071"><span class="c18">ktb투자증권</span></a></li> <li><a href="#" class="_tc _001"><span class="c19">KYOBO 교보증권</span></a></li> <li><a href="#" class="_tc _003"><span class="c20">true friend 한국투자증권</span></a></li> </ul> </div> <ul class="tx2">  <li>주문하기 기능은 <strong>이용자 편의를 위해 제공</strong>하는 기능으로 증권사 수수료 외에 <strong>별도의 추가수수료가 없습니다.</strong></li> <li>증권사 앱의 오류 및 지연은 네이버와 무관하며, 증권사 앱 사용에 따른 관련 문의는 해당 증권사로 문의해주세요.</li> </ul> </div> </div> </div> <iframe class="_app_checker" style="display:none"></iframe><script class="_banner_contents_script" src="http://mv.ad.naver.com/fxshow?su=SU10068&amp;da_dom_id=da_stock&amp;rui=1519364208028"></script><div class="u_cbox u_cbox_layer_wrap" style="top: 0px; right: 0px; bottom: 0px; left: 0px; display: none;"><div class="u_cbox_layer_login_wrap"><div class="u_cbox_layer_dimmed"></div><div class="u_cbox_layer_login"><strong class="u_vc">소셜 댓글 로그인 레이어</strong><span class="u_cbox_layer_frame_top"><span class="u_cbox_layer_bg_l"></span><span class="u_cbox_layer_bg_r"></span></span><div class="u_cbox_login_wrap"><div class="u_cbox_login_header"><h6 class="u_cbox_login_title">소셜 댓글 로그인</h6></div><div class="u_cbox_login_section"><span class="u_cbox_login_ico"></span><div class="u_cbox_login_msg">계정을 선택하시면 <span class="u_cbox_msg_point">로그인·계정인증</span>을 통해<br> 댓글을 남기실 수 있습니다.</div><div class="u_cbox_login_area"><strong class="u_vc">로그인</strong><a href="#" class="u_cbox_btn_login_naver" data-action="login" data-param="naver" data-log="RPN.lonaver"><span class="u_cbox_ico_login"></span><span class="u_cbox_txt_login">네이버</span><span class="u_cbox_ico_login_link"></span></a><a href="#" class="u_cbox_btn_login_twitter" data-action="login" data-param="twitter" data-log="RPN.lotw"><span class="u_cbox_ico_login"></span><span class="u_cbox_txt_login">트위터</span><span class="u_cbox_ico_login_link"></span></a><a href="#" class="u_cbox_btn_login_facebook" data-action="login" data-param="facebook" data-log="RPN.lofb"><span class="u_cbox_ico_login"></span><span class="u_cbox_txt_login">페이스북</span><span class="u_cbox_ico_login_link"></span></a></div></div><div class="u_cbox_login_footer"><a href="http://www.navercorp.com" class="u_cbox_btn_footer">@NAVER Corp.</a></div><a href="#" class="u_cbox_btn_close_login" title="닫기" data-action="close" data-log="RPN.loclose"><span class="u_cbox_ico_close_login">소셜 로그인 레이어 닫기</span></a></div><span class="u_cbox_layer_frame_bottom"><span class="u_cbox_layer_bg_l"></span><span class="u_cbox_layer_bg_r"></span></span></div><div class="u_cbox_layer_tail"></div></div></div></body></html>